@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #083563;
  --bg-dark: #062544;
  --span: #08f3ff;
  --color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  display: flex;
  background-color: var(--bg-dark);
  width: 100%;
  position: fixed;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 40px;
  cursor: pointer;
}

.logo span {
  color: var(--span);
}

.links {
  display: flex;
  text-align: center;
  margin: 30px 100px;
}

.links a {
  text-decoration: none;
  padding: 0 40px;
  color: var(--color);
}

.links a:hover {
  color: var(--span);
  cursor: pointer;
}

/* main */
.beranda {
  background-color: var(--bg);
  width: 100%;
  text-align: center;
  padding: 60px 0;
}

main {
  text-align: center;
  padding: 120px 0;
}

main img {
  height: 200px;
  border-radius: 100px;
  border: 3px solid var(--color);
}

main h2 span:after {
  content: "";
  animation: gerak infinite 8s ease;
  transform: translateY(-50%);
  color: var(--span);
  font-size: 50px;
}

@keyframes gerak {
  0% {
    content: "Bagaimana Kabarmu";
  }
  50% {
    content: "Saya Mhd. Syafiq Azhar";
  }
  100% {
    content: "Ini web Biodata saya";
  }
}

main a button {
  width: 400px;
  padding: 10px;
  border: 2px solid var(--bg);
  border-radius: 50px;
  margin-top: 40px;
  font-size: 15px;
}

main a button:hover {
  color: var(--color);
  background-color: var(--bg-dark);
  border: 2px solid var(--color);
  cursor: pointer;
}

/* Pendidikan */
.pendidikan,
.skill {
  text-align: center;
  margin: 60px;
}

.pendidikan h1,
.skill h1 {
  color: var(--bg);
  font-size: 40px;
  padding: 100px 0 30px;
}

.box {
  display: flex;
  justify-content: space-evenly;
}

.box-content {
  background-color: #c4c4c4;
  width: 320px;
  height: 370px;
  padding: 40px 20px;
  color: var(--bg);
  border-radius: 7px;
}

.box-content:hover {
  background-color: var(--bg-dark);
  color: var(--color);
  cursor: pointer;
}

.box-content img {
  height: 150px;
  border: none;
  margin: 0;
}

.box-content h3,
p {
  padding: 10px 0;
}

/* kontak */
.kontak {
  margin: 100px 0 50px;
  padding: 100px 0 50px;
  text-align: center;
  color: var(--bg);
}

.kontak h1 {
  font-size: 40px;
}

.kontak img {
  padding: 30px;
}

.kontak p {
  font-size: 30px;
}

/* footer */
.footer {
  background-color: var(--bg-dark);
  text-align: center;
  font-size: 15px;
}
